<div class="container">



    <section id="main_content">
        <h2>
            <a id="upcoming-events" class="anchor" href="#upcoming-events" aria-hidden="true"><span class="octicon octicon-link"></span></a><a href="http://www.meetup.com/StartupDentonTech/events/">Upcoming Events</a>
        </h2>

        {{#each list}}
            <p>- {{formatDate this.time "dddd, MMMM Do YYYY"}} | <a target="_blank" href="{{this.link}}">{{this.name}}</a> | {{this.venue.address_1}}</p>
        {{/each}}

        <h2>
            <a id="nodejs" class="anchor" href="#nodejs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Node.js:</h2>

        <p>Node.js offers the ability to express web applications in ways and environments in exciting new ways.</p>

        <p>NodeSchool Denton is a chapter of the international <a href="http://nodeschool.io/">NodeSchool.io</a>, creating a container for learning Node.js - used in web programming, robotics, and enabling new kinds of networked applications.</p>

        <p>NodeSchool's <a href="http://nodeschool.io/#workshoppers">self-paced workshops</a> break down learning into delicious bite-sized chunks. Bring a laptop, and if you can, <a href="https://nodejs.org/">install Node.js</a>.</p>

        <p>We get together about once a month, share some Node.js news, do Node.js workshops, and work on projects.  We're pretty informal, come join us if you like :-)</p>

        <p>-- Node up!</p>
    </section>
</div>


